/* TT Travels Next — TRIAL (TypeType), LOCAL PREVIEW ONLY.
 * Files live in platform/public/fonts/tt-travels-next/ and are git-ignored — do NOT commit them or
 * deploy without a purchased license. The variable font covers all weights (100–900); the static
 * Regular is a fallback for engines without variable-font support. */

@font-face {
  font-family: "TT Travels Next";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/tt-travels-next/TTTravelsNext-Variable.ttf") format("truetype-variations"),
       url("/fonts/tt-travels-next/TTTravelsNext-Regular.ttf") format("truetype");
}
